/* home section */
.tm-home {
    background: url("https://images.unsplash.com/photo-1612538498456-e861df91d4d0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80")
        no-repeat center center;
    background-size: cover;
    color: black;
    text-align: left;
    vertical-align: middle;
    padding-top: 200px;
    padding-bottom: 150px;
}
.tm-home .left-content h2 {
    font-weight: 900;
    font-size: 40px;
    margin-top: 30px;
}

.tm-home .left-content p {
    font-weight: 700;
    font-size: 20px;
    color: black;
}

.tm-home-logo {
    font-size: 64px;
    color: #9c0;
}
.tm-home-header {
    font-size: 36px;
    font-style: normal;
    text-transform: none;
}
.tm-home .btn {
    background: #ffffff;
    -webkit-box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
    box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
    border: none;
    border-radius: 0;
    font-size: 16px;
    font-weight: bold;
    width: 140px;
    height: 60px;
    margin-top: 60px;
    padding: 20px 20px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.tm-home .btn:hover {
    background: #a4c639;
}
/* social icons section */
.tm-icons .media .media-heading {
    padding-bottom: 10px;
}

.tm-icons .tm-icon-1 {
    background: #003e48;
    border-radius: 20px;
    -webkit-box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
    box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
    cursor: pointer;
    padding: 20px !important;
    margin-top: -40px;
    margin-bottom: 20px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.tm-icons .tm-icon-1 .media {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tm-icons .tm-icon-1 .media .media-body {
    max-width: 50%;
}

.tm-icons .tm-icon-1 .media .media-body p {
    color: white;
    font-weight: 900;
    font-size: 25px;
}

.tm-icons .tm-icon-1 .media .media-body img {
    border-radius: 10px;
    width: 300px;
    height: 200px;
}

.tm-icons .tm-icon-1 .media .readmore-btn {
    padding-right: 20px;
    padding-left: 20px;
}

.tm-icons .tm-icon-1 .media .readmore-btn h3 {
    text-transform: capitalize;
    font-size: 30px;
    letter-spacing: 0.3px !important;
    transition: all 0.5s;
    text-align: right;
    font-weight: 700;
}

.tm-icons .tm-icon-1 .media .readmore-btn p {
    text-transform: capitalize;
    font-size: 15px;
    letter-spacing: 0.3px !important;
    transition: all 0.5s;
    text-align: right;
    font-weight: 500;
    margin-top: 20px;
}

/* proactive support section */

.proactive-support {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 100px 120px 150px 120px;
    position: relative;
    overflow: hidden;
    background-color: #D9D9D9;
}

.proactive-support .left-content {
    margin-right: 15px;
}

.proactive-support .left-content h3 {
    z-index: 2;
    position: relative;
    font-weight: 900;
}

.proactive-support .left-content p {
    margin-bottom: 45px;
    color: #2a2a2a;
    font-weight: 500;
}

.proactive-support .left-content .first-button {
    margin-right: 15px;
}

.proactive-support .left-content .white-button {
    display: inline-block;
}

.proactive-support .right-image {
    text-align: center;
    position: relative;
    z-index: 0;
}

.proactive-support .right-image img {
    max-width: 710px;
    border-radius: 15px;
}

.proactive-support .left-content .more-detail-buttons{
    display: flex;
}

.proactive-support .left-content .white-button a {
    background-color: #4b8ef1;
    color: #fff !important;
}

