@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Patua+One&display=swap');

:root {
    --shd: 0.00px 1.00px 12px 2px rgba(13,184,170,0.22);
    --secondary-font-family: 'Merriweather', serif;
    --primary-font-family: 'Patua One', cursive;
}

.content-section {
    padding: 20px 0px;
    margin: 10px 0px;
}

.content-section .main-contents p {
    margin-bottom: 15px;
    color: black !important;
    text-align: justify;
}

.content-section .main-contents h2 {
    margin-bottom: 15px;
    color: black !important;
    font-size: 30px;
    font-family: var(--primary-font-family);
    margin: 30px 0px 10px 0px;
}

.content-section .main-contents h3 {
    margin-bottom: 15px;
    color: black !important;
    font-size: 20px;
    font-family: var(--primary-font-family);
    margin: 30px 0px 10px 0px;
}

.content-section .main-contents h4 {
    margin-bottom: 15px;
    color: black !important;
    font-size: 18px;
    font-family: var(--primary-font-family);
    margin: 30px 0px 10px 0px;
}

.content-section .main-contents ul,
.content-section .main-contents ol {
    margin-left: 20px;
}
.content-section .main-contents ul li,
.content-section .main-contents ol li {
    list-style: circle;
    margin-left: 10px;
    margin-bottom: 10px;
}
